# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

variables:
  - name: key_name
    value: your-aws-key # Add your actual key pair name here or override it in Azure DevOps UI

steps:
  - script: echo Hello, world!
    displayName: "Run a one-line script"

  - script: |
      echo Add other tasks to build, test, and deploy your project.
      echo See https://aka.ms/yaml
    displayName: "Run a multi-line script"
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: "latest"
  - task: TerraformTask@5
    inputs:
      provider: "aws"
      command: "init"
      workingDirectory: "$(System.DefaultWorkingDirectory)/terraform"
      backendServiceAWS: "aws-terraform-connection"
      backendAWSBucketName: "my-dashboard-s3"
      backendAWSKey: "infrastructure/terraform.tfstate"
  - task: TerraformTask@5
    inputs:
      provider: "aws"
      command: "validate"
      workingDirectory: "$(System.DefaultWorkingDirectory)/terraform"
  - task: TerraformTask@5
    inputs:
      provider: "aws"
      command: "plan"
      workingDirectory: "$(System.DefaultWorkingDirectory)/terraform"
      environmentServiceNameAWS: "aws-terraform-connection"
    env:
      TF_VAR_key_name: $(key_name)
  - task: TerraformTask@5
    inputs:
      provider: "aws"
      command: "apply"
      workingDirectory: "$(System.DefaultWorkingDirectory)/terraform"
      environmentServiceNameAWS: "aws-terraform-connection"
    env:
      TF_VAR_key_name: $(key_name)
