trigger:
  branches:
    include:
      - main
  paths:
    include:
      - terraform/**

pool:
  vmImage: "ubuntu-latest"

variables:
  AWS_REGION: "us-east-1"
  TF_VERSION: "1.5.7"

stages:
  - stage: TerraformPlan
    displayName: "Terraform Plan"
    jobs:
      - job: Plan
        steps:
          - task: TerraformTaskV4@4
            displayName: "Terraform Init"
            inputs:
              provider: "aws"
              command: "init"
              workingDirectory: "terraform"
              backendServiceAWS: "aws-service-connection"
              backendAWSBucketName: "my-dashboard-s3"
              backendAWSKey: "infrastructure/terraform.tfstate"
              backendAWSRegion: "$(AWS_REGION)"

          - task: TerraformTaskV4@4
            displayName: "Terraform Plan"
            inputs:
              provider: "aws"
              command: "plan"
              workingDirectory: "terraform"
              environmentServiceNameAWS: "aws-service-connection"

  - stage: TerraformApply
    displayName: "Terraform Apply"
    dependsOn: TerraformPlan
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - job: Apply
        steps:
          - task: TerraformTaskV4@4
            displayName: "Terraform Init"
            inputs:
              provider: "aws"
              command: "init"
              workingDirectory: "terraform"
              backendServiceAWS: "aws-service-connection"
              backendAWSBucketName: "my-dashboard-s3"
              backendAWSKey: "infrastructure/terraform.tfstate"
              backendAWSRegion: "$(AWS_REGION)"

          - task: TerraformTaskV4@4
            displayName: "Terraform Apply"
            inputs:
              provider: "aws"
              command: "apply"
              workingDirectory: "terraform"
              commandOptions: "-auto-approve"
              environmentServiceNameAWS: "aws-service-connection"
